// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Variables
// - Colors
// - Typography
// - Height
// - Border radius
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Colors
// ============================================================
$color-white: #FFFFFF;
$color-red-1: #880808;
$color-gray-1: #181818;

// Typography
// ============================================================
// Font family
$font-family-primary: Noto Sans;
// Font weight
$font-weight-regular: 400;
$font-weight-bold: 700;
// Line height
$line-height-1: 140%;
// Font size
$font-size-sm: rem(14);
$font-size-md: rem(16);
$font-size-lg: rem(18);

// Height
// ============================================================
$height-sm: rem(30);
$height-md: rem(36);
$height-lg: rem(42);

// Border radius
// ============================================================
$border-radius-sm: rem(4);
$border-radius-md: rem(6);
$border-radius-lg: rem(8);
