// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Home
// - Local style
// - Fix browser style
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Local style
// ============================================================
.home {
  .home-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* For real life coding, local style use rem mixin for spacing/sizing instead design tokens becase designer can't create design tokens document for page design */
    padding: rem(64);
  }

  .home-section {
    &.is-column {
      padding: 0 rem(64);
      text-align: center;
    }

    &.is-heading {
      margin: 0 0 rem(16);
    }

    &.is-button {
      margin: 0 0 rem(16);
    }
  }

  .home-text {
    &.is-heading {
      font-family: $base-font-family-primary;
      font-weight: $base-font-weight-regular;
      font-size: $base-font-size-md;
      line-height: $base-line-height-primary;
      color: $base-color-primary-gray-dark;
    }
  }
}

// Fix browser style
// ============================================================
