// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Button
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.button {
  /* Parent style -------------------------------- */
  padding: $base-spacing-md;
  background-color: $base-color-primary-red-dark;
  color: $base-color-primary-white;
  border: none;

  /* Children style ------------------------------ */
  /* Other component style ----------------------- */
  /* Modifier style ------------------------------ */
  // ModifierStyle_Name
  // .................................
}
