// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Button
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.button-design-tokens {
  /* Parent style -------------------------------- */
  cursor: pointer;
  min-width: $base-sizing-width-button;
  padding: 0 $base-spacing-xm;
  height: $base-sizing-height-md;
  background-color: $base-color-primary-red-dark;
  border: none;
  border-radius: $base-border-radius-xxs;
  font-family: $base-font-family-primary;
  font-size: $base-font-size-md;
  font-weight: $base-font-weight-regular;
  line-height: $base-line-height-primary;
  color: $base-color-primary-white;

  /* Children style ------------------------------ */
  /* Other component style ----------------------- */
  /* Modifier style ------------------------------ */
  &.is-sm {
    height: $base-sizing-height-sm;
    border-radius: $base-border-radius-xxxs;
    font-size: $base-font-size-sm;
  }

  &.is-lg {
    height: $base-sizing-height-lg;
    border-radius: $base-border-radius-xs;
    font-size: $base-font-size-xm;
  }

  &.is-gray-dark {
    background-color: $base-color-primary-gray-dark;
  }

  // ModifierStyle_Name
  // .................................
}
